/************* HEADER *************/

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



header nav a:hover {
    text-decoration: underline;
}



#nome :first-child {
    font-family: 'Bodoni Moda', 'Times New Roman', Times, serif;
    font-size: 5rem;
    text-align: center;
}

#nome :nth-child(3) {
    position: relative;
}

#nome:hover {
    text-decoration: none;
}




/************* FOOTER *************/

footer {
    text-align: center;
    font-size: 0.6rem;
}